<header>
  <nav>
    <a href="/">
      Home
    </a>
    <a href="/gymbros">
      Gymbros
    </a>
    <a href="/gymbros/new">
      Add gymbro
    </a>
    <a href="/posts">
      Posts
    </a>
    <a href="/posts/new">
      Add post
    </a>
  </nav>
</header>
