<header>
  <nav>
    <a href="/">
      <button>Home</button>
    </a>
    <a href="/gymbros">
      <button>Gymbros</button>
    </a>
    <a href="/gymbros/new">
      <button>Add gymbro</button>
    </a>
  </nav>
</header>
