<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <script defer src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WeGoJim</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <br />
    <%- body %> <%- include('../partials/errorMessage.ejs') %>
  </body>
</html>
