New Gymbro
<br />
<br />
<form action="/gymbros" method="POST">
  <%- include('_form_fields') %>
  <a href="/gymbros">
    <button>Cancel</button>
  </a>
  <button type="submit" name="submitNewGymbro">Submit</button>
</form>
