New Gymbro
<form action="/gymbros" method="POST">
  <input
    type="text"
    name="name"
    placeholder="Name"
    value="<%= locals.name %> "
  />
  <a href="/gymbros">
    <button>Cancel</button>
  </a>

  <button type="submit">Submit</button>
</form>
