<% if(!editMode) { %> 
  <div>
    <label></label>
    <input type="file" name="postImage" class="filepond"/>
  </div>
<% } %> 

<div>
  <label></label>
  <textarea required="true" name="text"><%= post.text %></textarea>
</div>
